:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
/* Header */
.page-header {
  background-color: var(--primary-bg-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* Site-nav */
.site-nav a {
  color: var(--title-text-color);
}

.navigation-button {
  display: flex;
}

.navigation-button .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

header li {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav li:not(:last-child) {
  margin-right: 50px;
}

.auth-nav a {
  color: var(--primary-text-color);
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* Section "Hero" */

.hero {
  background-color: var(--secondary-bg-color);
  margin-top: 0px;
  margin-bottom: 94px;
  text-align: center;
}

.hero-title {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}

.button {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
}

/* Section "Features" */
.features {
  background-color: var(--primary-bg-color);
  margin-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features-item {
  width: 270px;
  margin-right: 30px;
}

.features-item:last-child {
  margin-right: 0;
}

.features ul {
  color: var(--primary-text-color);
  display: flex;
}

.features h3 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
}

/* Section "Work" */

.work {
  background-color: var(--primary-bg-color);
  margin-bottom: 94px;
}
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work-examples {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* Section "Our-team" */
.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.team-card {
  display: flex;
}

.team-item {
  border: #ececec solid 1px;
  border-radius: 4px;
  background-color: #fff;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.our-team span {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: var(--secondary-text-color);
  font-style: normal;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
/* Footer logo */

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo > .logo-web {
  color: var(--accent-color);
}
.footer-logo > .logo-studio {
  color: var(--secondary-text-color);
}
